body,
html,
#canvas {
    background-color: #0f151d;
    background: radial-gradient(
        circle,
        rgba(40, 50, 74, 1) 0%,
        rgba(15, 21, 29, 1) 100%
    );
    cursor: move;
    font-family: 'Roboto',arial,sans-serif;
    letter-spacing: 1px;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* ======================= INTRO SCREEN ====================== */
.intro {
    background-color: #0f151d;
    height: 100%;
    width: 100%;
    cursor: initial;
    position: fixed;
    opacity: 1;
    transition: opacity 500ms ease;
    z-index: 1;
}

.intro.fade-out {
    opacity: 0;
    pointer-events: none;
}

.intro__message {
    border: 1px solid #fff;
    color: #fff;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    min-width: 320px;
    width: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.intro__message__heading {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 1.6;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}

.intro__message__sub-heading {
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.6;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}

.intro__message__body {
    letter-spacing: 1px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.button {
    background: transparent;
    border: 3px solid #fff;
    cursor: pointer;
    display: block;
    letter-spacing: 4px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    width: 200px;
}

.button:hover {
    background: #fff;
    color: #000;
}

/* ======================= OUTRO SCREEN ====================== */
.outro {
    background-color: #0f151d;
    height: 100%;
    width: 100%;
    cursor: initial;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms ease;
}

.outro.fade-in {
    opacity: 1;
    pointer-events: initial;
}

.outro__message {
    border: 1px solid #fff;
    color: #fff;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    min-width: 320px;
    width: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.outro__heading {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 1.6;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}